<section ng-controller="WishesController">
    <div class="page-header">
        <h1>Wishes</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/wishes/create">
        <i class="glyphicon glyphicon-open"></i> New Wish
      </a>
      <a type="button" class="btn btn-success" ng-really-click="callProcuring()">
        <i class="glyphicon glyphicon-repeat"></i> Run
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="wish in $data">
                <td data-title="'Contains'" sortable="'contains'" filter="{ 'contains': 'text' }">{{wish.contains}}</td>
                <td data-title="'Language'" sortable="'language'" filter="{ 'language': 'text' }">{{wish.language}}</td>
                <td data-title="'email'" sortable="'email'" filter="{ 'email': 'text' }">{{wish.email}}</td>
                <td data-title="'Phone'" sortable="'phone'" filter="{ 'phone': 'text' }">{{wish.phone}}</td>
                <td>
                   <div class="table-actions">
                        <a class="btn-sm btn-default" title="View" href="/#!/wishes/{{wish._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn-sm btn-default" title="Edit" href="/#!/wishes/{{wish._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn-sm btn-warning" title="Process" ng-really-message="Are you sure ?" ng-really-click="callWishProcuring(wish)" item="wish">
              				<span class="glyphicon glyphicon-play"></span>
              			</a>
                        <a class="btn-sm btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(wish)" item="wish">
              				<span class="glyphicon glyphicon-remove-circle"></span>
              			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</section>