.actions {
  margin-bottom: 30px;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* ng-table */

.ng-table {
  width: 100%;
}

.ng-table > thead > tr > th {
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
}

.ng-table > tbody > tr > th, .ng-table > tfoot > tr > th, .ng-table > thead > tr > td, .ng-table > tbody > tr > td, .ng-table > tfoot > tr > td {
  height: 50px;
  border-bottom: 1px solid #e8e8e8;
}

.ng-table-filters {
  height: 60px;
}

.ng-table > thead > tr > th {
  padding-bottom: 0;
  padding-top: 0;
}

.ng-table th.filter .input-filter {
  margin: 12px;
  width: 90%;
}

.ng-table th.filter .input-filter {
  margin: 12px;
  width: 90%;
}

.ng-table-pager {
  margin-top: 20px;
}

.table-actions {
  width: 130px;
}
